<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Confidence</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li><a href="{% url 'admin:students_student_changelist' %}?status=overdue">Overdue&nbsp;<span class="badge pull-right">{{ count_overdue }}</span></a></li>
            <li><a href="{% url 'admin:students_student_changelist' %}?status=expired">Expired&nbsp;<span class="badge pull-right">{{ count_expired }}</span></a></li>
          </ul>
        {% endif %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'admin:index' %}"><span class=" glyphicon glyphicon-user"></span>&nbsp;&nbsp;{% if user.is_authenticated %}{{ user|capfirst }}{% else %}Sign In{% endif %}</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="{% url 'students:get' %}" method="get">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter roll number..."
                     name="roll">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" id="roll-search">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
