<div class="list-group">
  <div class="list-group-item list-group-item-danger">
    <h4 class="list-group-item-heading">Overdue Amount</h4>
    <div class="list-group-item-text">tk. 5000</div>
  </div>
  <div class="list-group-item list-group-item-default">
    <h4 class="list-group-item-heading">Total Fee</h4>
    <div class="list-group-item-text">tk. 15000</div>
  </div>
  <div class="list-group-item list-group-item-default">
    <h4 class="list-group-item-heading">Validity</h4>
    <div class="list-group-item-text">120 days</div>
  </div>
</div>
<div class="list-group">
  <div class="list-group-item list-group-item-default">
    <h4 class="list-group-item-heading">Student Category</h4>
    <p class="list-group-item-text">C2</p>
  </div>
  <div class="list-group-item list-group-item-default">
    <h4 class="list-group-item-heading">Department</h4>
    <p class="list-group-item-text">Other</p>
  </div>
  <div class="list-group-item list-group-item-default">
    <h4 class="list-group-item-heading">Batch</h4>
    <p class="list-group-item-text">09:00 am</p>
  </div>
</div>
