{% extends './demo_base.html' %}

{% block title %}{{ student.roll }} | Attendance Record{% endblock %}

{% block attendances_active %}class="active"{% endblock %}

{% block content %}
<div class="panel-group">
{% for month_dt, dates in student.attending_dates_breakdown.items %}
{% if dates %}
  <div class="panel panel-info" data-toggle="collapse" href="#{{ month_dt|date:"m-d-Y" }}">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        {{ month_dt|date:"F - Y" }}
      </div>
      <span class="badge pull-right">{{ dates|length }}</span>
      <div class="clearfix"></div>
    </div>
    <div id="{{ month_dt|date:"m-d-Y" }}" class="panel-body collapse">
      <table class="table table-condensed detail">
        <tr>
          <th>Date</th>
          <th>Weekday</th>
        </tr>
        {% for date in dates %}
          <tr>
            <td>{{ date|date:"M d, Y" }}</td>
            <td>{{ date|date:"l" }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>
{% endblock content %}