{% extends '../base.html' %}

{% block title %}Details for 121445{% endblock %}

{% block container %}
<div class="row">
  {% include './_breadcrumb.html' %}
  <nav class="col-xs-12 col-md-9">
    <ul class="nav nav-tabs">
      <li role="presentation" {% block details_active %}{% endblock %}>
        <a href="{% url 'students:details' student.roll %}">Details</a>
      </li>
      <li role="presentation" {% block attendances_active %}{% endblock %}>
        <a href="{% url 'students:attendences' student.roll %}">Attendences</a>
      </li>
      <li role="" {% block tests_active %}{% endblock %}>
        <a href="{% url 'students:tests' student.roll %}">Tests</a>
      </li>
      <li role="presentation" {% block sheets_active %}{% endblock %}>
        <a href="{% url 'students:sheets' student.roll %}">Sheets</a>
      </li>
      {% if user.is_authenticated %}
        <li role="presentation">
          <a href="{% url 'admin:students_student_change' student.roll %}">Edit</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
<div class="clearfix">
</div>
<div class="row">
  <div class="col-xs-12 col-md-3">
    {% include './_sidebars.html' %}
  </div>
  <div class="col-xs-12 col-md-9">
    {% block content %}{% endblock %}
  </div>
</div>
{% endblock container %}
