{% extends './demo_base.html' %}

{% block title %}{{ student.roll }} | Sheets Received{% endblock %}

{% block sheets_active %}class="active"{% endblock %}

{% block content %}
<div class="panel-group">
{% for category, sheets_received in student.sheets_received_breakdown.items %}
{% if sheets_received %}
  <div class="panel panel-info" data-toggle="collapse" href="#{{ category|cut:" "|cut:"&"|lower }}">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        {{ category|title }}
      </div>
      <span class="badge pull-right">{{ sheets_received|length }}</span>
      <div class="clearfix"></div>
    </div>
    <div id="{{ category|cut:" "|cut:"&"|lower }}" class="panel-body collapse">
      <table class="table table-condensed detail">
        <tr>
          <th>#</th>
          <th>Description</th>
        </tr>
        {% for sheet_received in sheets_received %}
          <tr>
            <td>{{ sheet_received.sheet_number }}</td>
            <td class="na">N/A</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>
{% endblock content %}