{% extends './demo_base.html' %}

{% block title %}Test Info for 121445{% endblock %}

{% block sheets_active %}class="active"{% endblock %}

{% block content %}
<div class="panel-group">
  <div class="panel panel-info" data-toggle="collapse" href="#bangla">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        Bengali Language &amp; Literature
      </div>
      <span class="badge pull-right">3</span>
      <div class="clearfix"></div>
    </div>
    <div id="bangla" class="panel-body collapse">
      <table class="table table-condensed detail"> <!-- Admission info panel -->
        <tr>
          <th>#</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>1</td>
          <td>No Description</td>
        </tr>
        <tr>
          <td>2</td>
          <td>No Description</td>
        </tr>
        <tr>
          <td>3</td>
          <td>No Description</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="panel panel-info" data-toggle="collapse" href="#english">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        English Language &amp; Literature
      </div>
      <span class="badge pull-right">3</span>
      <div class="clearfix"></div>
    </div>
    <div id="english" class="panel-body collapse">
      <table class="table table-condensed detail"> <!-- Admission info panel -->
        <tr>
          <th>#</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>1</td>
          <td>No Description</td>
        </tr>
        <tr>
          <td>2</td>
          <td>No Description</td>
        </tr>
        <tr>
          <td>3</td>
          <td>No Description</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="panel panel-info" data-toggle="collapse" href="#ba">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        Bangladesh Affairs
      </div>
      <span class="badge pull-right">3</span>
      <div class="clearfix"></div>
    </div>
    <div id="ba" class="panel-body collapse">
      <table class="table table-condensed detail"> <!-- Admission info panel -->
        <tr>
          <th>#</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>1</td>
          <td>No Description</td>
        </tr>
        <tr>
          <td>2</td>
          <td>No Description</td>
        </tr>
        <tr>
          <td>3</td>
          <td>No Description</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
