{% extends './demo_base.html' %}

{% block title %}{{ student.roll }} | Test Info{% endblock %}

{% block tests_active %}class="active"{% endblock %}

{% block content %}

<div class="panel-group">
{% for category, test_participations in student.test_participations_breakdown.items %}
  {% if test_participations %}
    <div class="panel panel-info" data-toggle="collapse" href="#{{ category|cut:" "|lower }}">
      <div class="panel-heading">
        <div class="panel-title pull-left">
          {{ category|title }}
        </div>
        <span class="badge pull-right">{{ test_participations|length }}</span>
        <div class="clearfix"></div>
      </div>
      <div id="{{ category|cut:" "|lower }}" class="panel-body collapse">
        <table class="table table-condensed detail">
          <tr>
            <th>#</th>
            <th>Description</th>
            <th>Obtained Marks</th>
            <th>Date</th>
          </tr>
          {% for test_participation in test_participations %}
            <tr>
              <td>{{ test_participation.test.test_number }}</td>
              {% if test_participation.test.description %}
                <td>{{ test_participation.test.description }}</td>
              {% else %}
                <td class="na">N/A</td>
              {% endif %}
              <td>{{ test_participation.marks }}</td>
              <td>{{ test_participation.date|date:"M d, Y" }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>
{% endblock content %}
