{% extends './demo_base.html' %}

{% block title %}Test Info for 121445{% endblock %}

{% block tests_active %}class="active"{% endblock %}

{% block content %}
<div class="panel-group">
  <div class="panel panel-info" data-toggle="collapse" href="#evaluation">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        Evaluation Tests
      </div>
      <span class="badge pull-right">3</span>
      <div class="clearfix"></div>
    </div>
    <div id="evaluation" class="panel-body collapse">
      <table class="table table-condensed detail">
        <tr>
          <th>#</th>
          <th>Description</th>
          <th>Obtained Marks</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>1</td>
          <td>No Description</td>
          <td>59</td>
          <td>July 2, 2017</td>
        </tr>
        <tr>
          <td>2</td>
          <td>No Description</td>
          <td>59</td>
          <td>July 2, 2017</td>
        </tr>
        <tr>
          <td>3</td>
          <td>No Description</td>
          <td>59</td>
          <td>July 2, 2017</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="panel panel-info" data-toggle="collapse" href="#jst">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        JST Tests
      </div>
      <span class="badge pull-right">3</span>
      <div class="clearfix"></div>
    </div>
    <div id="jst" class="panel-body collapse">
      <table class="table table-condensed detail"> <!-- Admission info panel -->
        <tr>
          <th>#</th>
          <th>Description</th>
          <th>Obtained Marks</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>1</td>
          <td>No Description</td>
          <td>59</td>
          <td>July 2, 2017</td>
        </tr>
        <tr>
          <td>2</td>
          <td>No Description</td>
          <td>59</td>
          <td>July 2, 2017</td>
        </tr>
        <tr>
          <td>3</td>
          <td>No Description</td>
          <td>59</td>
          <td>July 2, 2017</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="panel panel-info" data-toggle="collapse" href="#subject">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        Subject Based Tests
      </div>
      <span class="badge pull-right">3</span>
      <div class="clearfix"></div>
    </div>
    <div id="subject" class="panel-body collapse">
      <table class="table table-condensed detail"> <!-- Admission info panel -->
        <tr>
          <th>#</th>
          <th>Description</th>
          <th>Obtained Marks</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>1</td>
          <td>No Description</td>
          <td>59</td>
          <td>July 2, 2017</td>
        </tr>
        <tr>
          <td>2</td>
          <td>No Description</td>
          <td>59</td>
          <td>July 2, 2017</td>
        </tr>
        <tr>
          <td>3</td>
          <td>No Description</td>
          <td>59</td>
          <td>July 2, 2017</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
